@import "./styles/theme.scss";

@import "./styles/gtk";
@import "./styles/bar";
@import "./styles/control_panel";
@import "./styles/power_menu";
@import "./styles/calendar";
@import "./styles/notification";

.pressable {
  &:hover {
    transition: $transition-time;
    border-radius: $radius-lg;
    background-color: $light-accent;
  }
  .inner-pressable {
    padding: 0px 10px 0px 10px;
  }
}


.circular-button {
  background-color: $primary;
  border-radius: 30px;
  border: 2px solid $secondary;

  &:hover {
    background-color: $light-accent;
    transition: $transition-time;
  }
}

.squared-button {
  background-color: $primary;
  border-radius: $radius-sm;
  border: 2px solid $secondary;

  &:hover {
    background-color: $light-accent;
    transition: $transition-time;
  }
}