@import "./styles/theme.scss";

@import "./styles/gtk";
@import "./styles/bar";
@import "./styles/calendar";
@import "./styles/control_panel";

.pressable {
  &:hover {
    transition: $transition-time;
    border-radius: $radius-lg;
    background-color: $light-accent;
  }
  .inner-pressable {
    padding: 0px 10px 0px 10px;
  }
}


.inactive-button {
  background-color: $primary;
  padding: 15px;
  border-radius: 30px;
  border: 2px solid $secondary;
}