// * { all: unset; }

$primary: #ffffff;
$secondary: #000000;
$font-color: #000000;
$sa: #ff0000;

$radius-sm: 10px;
$radius-lg: 30px;

$transition-time: 0.2s;

tooltip {
    label {
        margin: 6px;
    }

    &.background {
        font-size: 18px;
        background-color: $secondary;
        border-radius: $radius-sm;
        color: #bfc9db;
    }
}

.bar-widget {
    color: $font-color;
    background-color: $primary;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-bottom: 2px solid $secondary;
}

.indicators {
    &:hover {
        transition: $transition-time;
        border-radius: $radius-lg;
        background-color: #afd;
    }
}

.date {
    font-weight: bold;
}