@import "theme";

calendar {
  background-color: $primary;
  border: 2px solid #ccc;
  border-radius: $radius-sm;
  padding: 10px;

  &.header {
    border: none;
  }

  &:selected {
    color: $primary;
    background-color: $secondary;
    border-radius: $radius-sm;
  }

  &.button {
    // color: #b91f1f;
  }

  &.highlight {
    // color: #b91f1f;
  }
}
