@import "theme";

.calendar-container {
  border-radius: $radius-lg;
}

calendar.label.year {
  color: #bfc9db;
}

calendar {
  padding: 5px;
  font-weight: bold;

  &:selected {
    color: $primary;
    background-color: $secondary;
    border-radius: $radius-sm;
  }
}