@import "theme";

* {
  all: unset;
}

tooltip {
  border: 1px solid $secondary;

  label {
    margin: 6px;
  }

  &.background {
    font-size: 18px;
    background-color: $primary;
    border-radius: $radius-sm;
    color: #bfc9db;
  }
}

scale slider {
  background-size: 100px 100px;
  min-height: 20px;
}

.slider-container {
  margin-bottom: 15px;
}

.slider trough highlight {
  background-color: $secondary;
  border-radius: $radius-lg;
}